backend/myenv
frontend/src/firebase/config.js
frontend/src/firebase/config.js
creds
frontend/node_modules
frontend/build
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.test
frontend/.env.development.local
frontend/package-lock.json
backend/.DS_Store
frontend/.DS_Store
.github/.DS_store